/*行内元素居中*/
.div_Inline
{
    text-align: center;
}
/*定宽块状元素居中*/
.div_fixed_block
{
    /*定宽*/
    width:200px;
    /* margin-left 与 margin-right 设置为 auto */
    margin:20px auto;
}
/*不定宽块状元素居中*/
/*table方法*/
table
{
    margin:0px auto;
}
/*改变元素的display类型为行内元素*/
.div_centered_display
{
    text-align: center;
}
.div_centered_display ul{
    list-style:none;
    /* margin:0;padding:0（消除文本与div边框之间的间隙）*/
    margin:0;
    padding:0;
    display:inline;
}
.div_centered_display li
{
    /* margin-right:8px（设置li文本之间的间隔）*/
    margin-right:8px;
    display:inline;
}
/*设置浮动和相对定位来实现*/
.div_centered_float_relative
{
    float: left;
    position: relative;
    left: 50%;
}

.div_centered_float_relative ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    left: -50%;
}
.div_centered_float_relative li
{
    float: left;
    display: inline;
    margin: 8px;
}
/*单行文本垂直居中*/
.vertical_center_oneline
{
    height: 100px;
    line-height: 100px;
    border: 1px solid red;
}
/*多行文本垂直居中*/
/*table*/
.vertical_center_lines_table table
{
    height: 300px;
    border: 1px solid red;
    /*因为 td 标签默认情况下就默认设置了 vertical-align 为 middle，所以我们不需要显式地设置了*/
    /*vertical-align: middle;*/
}
/*display*/
.vertical_center_lines_display
{
    height:300px;
    border: 1px solid red;
    /*IE8以上及Chrome、Firefox*/
    display:table-cell;
    /*IE8以上及Chrome、Firefox*/
    vertical-align:middle;
}