/*标签选择器*/
p{
    color: chartreuse;
    font-size: 10px;
}
/*类选择器*/
.class_selector_1
{
    color: #993300;
    font-size: 20px;
}
.class_selector_2
{
    color: cadetblue;
    font-size: 30px;
}
/*ID选择器*/
#id_selector_1
{
    color: bisque;
    font-size: 40px;
}
#id_selector_2
{
    color: blue;
    font-size: 30px;
}
/*子选择器*/
.ol_class_test1>li {  border: 1px solid red;  }
/*后代选择器*/
.ol_class_test2 li{  border: 1px solid red;  }
/*通用选择器*/
*{color: deepskyblue}
/*伪类选择器*/
.a_test:hover
{
    color: crimson;
}
h4,h5
{
    color: gold;
    font-size: 53px;
}