<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>


    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">qpy1995</property>
      <property name="connection.url">jdbc:mysql://localhost:3306/online_shopping</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>


    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
      <mapping class="com.discardpast.chapter_three.Persistence.Seller"/>
      <mapping resource="com/discardpast/chapter_three/Persistence/Seller.hbm.xml"/>
    <mapping class="com.discardpast.chapter_three.Persistence.Commodity"/>
    <mapping resource="com/discardpast/chapter_three/Persistence/Commodity.hbm.xml"/>
    <mapping class="com.discardpast.chapter_three.Persistence.Customer"/>
    <mapping resource="com/discardpast/chapter_three/Persistence/Customer.hbm.xml"/>
    <mapping class="com.discardpast.chapter_three.Persistence.OrderFrom"/>
    <mapping resource="com/discardpast/chapter_three/Persistence/OrderFrom.hbm.xml"/>
    <mapping resource="com/discardpast/chapter_three/Persistence/OrderItem.hbm.xml"/>
    <mapping class="com.discardpast.chapter_three.Persistence.OrderItem"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>