/*浮动模型*/
.h3_1
{
    float: left;
}
.h3_2
{
    float: right;
}
/*层模型绝对定位*/
.div_absolute
{
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    top: 200px;
    left: 200px;
    position: absolute;
}
/*层模型相对定位*/
.div_relative
{
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    top: 200px;
    left: 200px;
    position: relative;
}
/*层模型固定定位*/
.div_fixde
{
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    top: 500px;
    left: 200px;
    position: fixed;
}
/*Relative与Absolute组合使用*/
.div_relative_img
{
    top: 1150px;
    left: 200px;
    position: relative;
}
.div_absolute_span
{
    top: 2050px;
    left: 200px;
    position: absolute;
}