/*CSS样式继承测试*/
p
{
    font-size:50px;
    color: blue;
    border: 1px
    solid rebeccapurple;
}
/*CSS样式特殊性*/
/*标签选择符权重1*/
h1
{
    color: #993300;
}
/*类选择符权重10*/
.class_h1
{
    color: black;
}
/*ID选择符权重100*/
#id_h1
{
    color: rebeccapurple;
}
/*下面三个样式按照课程编写，但没有起作用,暂不明确原因*/
/*
!*标签,类组合权重1+10=11*!
h1 .class_h1
{
    color: gold;
}
!*ID,类选择器组合权重100+10=110*!
#id_h1 .class_h1
{
    color: crimson;
}
!*标签,ID,类选择符权重1+100+10=111*!
!*权重最高,所以会调用该样式*!
#id_h1 .class_h1 h1
{
    color: deepskyblue;
}*/
